/* Reset básico */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
  }
  
  body {
    font-family: Arial, sans-serif;
    background-color: #f9f9f9;
  }
  
  header {
    background-color: #4A4EB6;
    color: white;
    padding: 20px;
  }
  
  header .logo {
    display: flex;
    align-items: center;
    gap: 10px;
  }
  
  header .logo img {
    width: 50px;
    height: 50px;
  }
  
  header .logo h1 {
    font-size: 18px;
  }
  
  main {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: 20px; /* Espaço entre o header e o formulário */
    padding-top: 20px; /* Ajusta ainda mais o espaçamento */
  }
  
  form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    width: 800px;
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
  }
  
  .split-form {
    display: flex;
    justify-content: space-between;
  }
  
  .form-column {
    flex: 1;
    display: flex;
    flex-direction: column;
    gap: 15px;
  }
  
  .form-group {
    margin-bottom: 15px;
  }
  
  label {
    display: block;
    font-weight: bold;
    margin-bottom: 5px;
    display: flex;
    align-items: center;
    gap: 5px;
  }
  
  input,
  textarea {
    width: 100%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 4px;
    font-size: 16px;
  }
  
  textarea {
    resize: none;
    height: 80px;
  }
  
  button {
    background-color: #4A4EB6;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 4px;
    cursor: pointer;
    font-size: 16px;
    width: 100%;
  }
  
  button:hover {
    background-color: #3a3e99;
  }
  
  /* Ajuste para alinhar a logo e o título à esquerda */
  header .logo {
    justify-content: flex-start;
    margin-left: 20px;
  }
  