<!DOCTYPE html>
<html lang="pt-br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Perfil</title>
</head>
<body>
    <header>
        <img src="imagensDoSistema/acessibilidade.png" alt="Circulo pintado de azul com um boneco dentro pintado de branco com os braços abertos">
        <h1>Portal de Empregabilidade
            <br>
            Inclusiva Regional</h1>
    </header>
    
    <table>
        <img src="imagensDoSistema/icones/icone de usuario.png" alt="Um boneco pintado de preto">
        <td>Mel</td>
        <th>Formação acadêmica</th>
        <td>ADS</td>
        <th>Area de area de interesse profissional</th>
        <td>FrontEnd</td>
        <th>Sobre</th>
        <td>oi meu nome é Mel sou atriz e programadora</td>
    </table>

</body>
</html>