<!DOCTYPE html>
<html lang="pt-Br">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="csss/telaCadastroUsuario.css">
    <title>Tela de Cadastro</title>
</head>
<body>

    <div class="contanier">
        <section>
            <h1>Conclua seu cadastro</h1>
            <img src="imagensDoSistema/acessibilidade.png" alt="Circulo pintado de azul com um boneco dentro pintado de branco com os braços abertos">
        </section>
        
        <form action="" method="post">
            <label for="areaDeInteresseProfissional">Qual sua área de interesse profissional?</label>
            <br>
            <input type="text" name="" class="input" id="areaDeInteresseProfissional"/>
            <br>
            <label for="genero">Gênero</label>
            <br>
            <input type="text" name="" class="input" id="genero"/>
            <br>
            <label for="data">Data de Nascimento</label>
            <br>
            <input type="date" name="" class="input" id="data">
            <br>
            <label for="nacionalidade">Nacionalidade</label>
            <br>
            <input type="text" name="" class="input" id="nacionalidade"/>
            <br>
            <label for="endereco">Endereco</label>
            <br>
            <input type="text" name="" class="input" id="endereco"/>
            <br>
            <label for="formacaoacademica">Formação acadêmica</label>
            <br>
            <input type="text" name="" class="input" id="formacaoacademica"/>
            <br>
            <label for="deficiencia">Portador(a) de qual deficiência?</label>
            <br>
            <input type="text" name="" class="input" id="deficiencia"/>
            <br>
            <label for="cpf">CPF</label>
            <br>
            <input type="number" name="" class="input" id="cpf">
            <br>
            <label for="descricao">Descreva sua deficiência e se precisa de alguma adaptação no trabalho.</label>
            <br>
            <textarea name="" class="textarea" id="decricao"></textarea>
            <br>
            <button>Cadastrar</button>
        </form>
    </div>

</body>
</html>